:root {
  /* Primary hue of the theme */
  /* You can adjust it, or edit the values below directly */
  --primary-h: 260;

  /* Primary saturation and lightness of the theme, usually you shouldn't want to change those */
  --primary-s: 75%;
  --primary-l: 60%;

  /* Derived colors using H, S, L manipulation */
  /* You can set those to be static values if you want, i.e.: */
  /* --link-color: #c579ff; */
  --link-color: hsl(calc(var(--primary-h) - 30), 75%, 60%);
  --link-hover-color: hsl(calc(var(--primary-h) - 30), 75%, 50%);
  --background-color: hsl(var(--primary-h), 75%, 10%);
  --header-background-color: hsl(var(--primary-h), 75%, 18%);
  --content-background-color: hsl(var(--primary-h), 75%, 8%);
  --text-color: #fff;
  --border-color: hsl(var(--primary-h), 75%, calc(var(--primary-l) * 1.05));
  --indicator-inactive-color: #4a4a4a;
  --indicator-active-color: var(--border-color);
}
