@font-face {
  font-family: "ProggyClean";
  src: url(https://witchcraft.systems/ProggyCleanNerdFont-Regular.ttf);
}

:root {
  --link-color: #646cff;
  --link-hover-color: #535bf2;
  --background-color: #12082b;
  --header-background-color: #1f1145;
  --content-background-color: #0d0620;
  --text-color: white;
  --border-color: #8054f0;
  --indicator-inactive-color: #4a4a4a;
  --indicator-active-color: #8054f0;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0;
}
::-webkit-scrollbar-corner {
  background: transparent;
  border-radius: 0;
}
::-webkit-scrollbar-button {
  background: transparent;
  border-radius: 0;
}
* {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
  -ms-overflow-style: none; /* IE and Edge */
  -webkit-overflow-scrolling: touch;
  -webkit-scrollbar: none; /* Safari */
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  font-family: "ProggyClean", monospace;
  font-size: 24px;
  color: var(--text-color);
  border-color: var(--border-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1400px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
